img {
    width: 50%;
    height: auto;
}

body {
    /*width: 75%;*/
    /*max-width: 1024px;*/
    margin: 8px;
    /*background-color: #2f2c2c;*/
    /*font-size: 12pt;*/
    display: block;
}

header,
main,
footer {
    background-color: #b2b2b2;
    font-size: 12pt;
}

#mainHeading {
    padding: 3px 0;
    color: red;
    font-size: 20px;
}

header h1 {
    text-align: center;
    font-size: 20px;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 20px;
}

main h2 {
    padding: 0.625em 0 0.625em 0.625em;
}

article {
    margin: 1.875em 0;

}

article:first-child {
    margin-top: 0;
}

article:last-child {
    margin-bottom: 0;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1em;
    font-size: 0.75em;
}

p {
    padding: 5px;
    text-align: center;
}

figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

figcaption {
    font-style: italic;
}

footer {
    text-align: center;
    padding: 3em;
}

img {
    width: 60%;
    max-width: 75%;
}

.funParagraph {
    color: green;
}
